body {
	background-color: black;
	color: white;
}

#myDropdown {
  background-color: rgba(125, 125, 125, .5);
}

.name {
	margin-left: 10%;
	font-size: 35px;
}

img {
	float: left;
	margin: 10px;
	margin-left: 10%;
}

h3 {
	font-weight: lighter;
	margin: 15px;
	padding: 5px;
}