body {
	background-color: black;
	color: white;
	font-family: 'Lato', sans-serif;
}

h1, h2 {
  color: white;
}

h2:hover {
  cursor: pointer;
}

a {
  color: white;
  text-decoration: none;
}

#projects, #about {
  display: inline-block;
  margin-top: 5%;
  font-size: 40px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {display: block;}

#projects {
  margin-left: 6%;
}

#about {
  float: right;
  margin-right: 6%;
}

.name {
	margin-left: 10%;
	font-size: 35px;
}

img {
	float: left;
	margin: 10px;
	margin-left: 10%;
}

h3 {
	font-weight: lighter;
	margin: 15px;
	padding: 5px;
}