<!DOCTYPE html>
<html>
<head>
	<title>Kat Sullivan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"> 
	<link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/aether.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
	<div class="row">
		<h2 id="projects" onclick="myFunction()" class="dropbtn column">Projects</h2>
  		<h2 id="mocap" class="column"><a href="mocap.html">Motion Capture</a></h2>
		<h2 id="about" class="column"><a href="home.html">Home</a></h2>
	</div>
	<div id="myDropdown" class="dropdown-content">
    		<a href="aether.html">Aether</a>
    		<a href="torn.html">Torn</a>
    		<a href="ltc.html">Liable to Change</a>
    		<a href="blooming.html">Blooming</a>
    		<a href="terms.html">Terms of My Surrender</a>
  	</div>
		<div class="content">
		<h2>Liable to Change</h2>
		<iframe src="https://player.vimeo.com/video/319991611" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/319991611">&quot;Liable to Change&quot; Saturday February 23rd, 2pm</a> from <a href="https://vimeo.com/user2820344">John Zullo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		<br>
		<iframe src="https://player.vimeo.com/video/220374795" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<p><a href="https://vimeo.com/220374795">Zullo/RawMovement &quot;Liable to Change&quot;</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

		<h3>A live dance performance from the Zullo Raw Movement Company.<br>
<br>
For this project, I created the visuals which were projected on opposing sides on the gallery. I ran both visuals simultaneously using a TouchOSC app controller.<br>
<br>
I filmed the dancers as well as the set pieces and created visuals based on John Zullo's these of simplicity and chaos coexisting.<br>
</h3>

	<img src="../images/LTC.jpg">
<p>
<h3>Credits</h3></br>
Movement, Concept, Direction: John J Zullo</br>
Company: Zullo/RAW Movement</br>
Interactive Media Artist: Kat Sullivan</br>
Lighting Design: Kryssy Wright</br>
Architect: Megan Marvin</br>
Composer, Sound Design & Performance: Darren Solomon</br>
Visual Artist: Terry Finch</br>
Performers: Zachary Denison, Bong Dizon, Hana Goldstone, Katya Lazor & Rachael Oczkus.</br>
This work was made, in part, with the generous support of City College Center for the Arts and the CUNY Dance Initiative.
</br>

<h3>Tools used</h3></br>
QLab, C++/Cinder, Motion Capture, Unreal, and Syphon</br>
</br>
</br>

<h3>Exhibitions</h3></br>
Friday, February 22, 2019 and Saturday, February 23, 2019 </br>
City College Center for the Arts, Aaron Davis Hall, 115 Convent Avenue, New York, NY 10027</br>
April 27</br>
City College Center for the Arts
</br>
<h3>Selected Press</h3></br>
2017 – <a class="press" href="https://www.dance-enthusiast.com/get-involved/reviews/view/Liable-to-Change-by-ZulloRAW-Movement-November-12-2017" target="_blank">"Liable to Change" by Zullo/RAW Movement</a>, The Dance Enthusiast</br>
</br>
</br>
</div>
<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
		  document.getElementById("myDropdown").classList.toggle("show");
		  console.log("here");
		}

	</script>

</body>
</html>