<!DOCTYPE html>
<html>
<head>
	<title>Kat Sullivan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"> 
	<link rel="stylesheet" type="text/css" href="../home.css">
	<link rel="stylesheet" type="text/css" href="../aether.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
	<div class="row">
		<h2 id="projects" onclick="myFunction()" class="dropbtn column">Projects</h2>
  		<h2 id="mocap" class="column"><a href="mocap.html">Motion Capture</a></h2>
		<h2 id="about" class="column"><a href="home.html">Home</a></h2>
	</div>
	<div id="myDropdown" class="dropdown-content">
    		<a href="aether.html">Aether</a>
    		<a href="torn.html">Torn</a>
    		<a href="ltc.html">Liable to Change</a>
    		<a href="blooming.html">Blooming</a>
    		<a href="terror.html">Near Terror</a>
  	</div>
		<div class="content">
		<h2>Liable to Change</h2>
		<iframe src="https://player.vimeo.com/video/319991611" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
<p><a href="https://vimeo.com/319991611">&quot;Liable to Change&quot; Saturday February 23rd, 2pm</a> from <a href="https://vimeo.com/user2820344">John Zullo</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
		<br>
		<iframe src="https://player.vimeo.com/video/220374795" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		<p><a href="https://vimeo.com/220374795">Zullo/RawMovement &quot;Liable to Change&quot;</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

		<h3>A live dance performance from the Zullo Raw Movement Company.<br>
<br>
For this project, I created the visuals which were projected on opposing sides on the gallery. I ran both visuals simultaneously using a TouchOSC app controller.<br>
<br>
I filmed the dancers as well as the set pieces and created visuals based on John Zullo's these of simplicity and chaos coexisting.<br>
</h3>

	<img src="../images/LTC.jpg">
<p>
<h3>Credits</h3></br>
Commissioned and Supported by: Nokia Bell Labs, New Museum NEW INC</br>
Created and Directed by: Lisa Park</br>
Sensor Development & Collaboration: Gang Huang (Nokia Bell Labs)</br>
Technical Consultant: Sensorium Works</br>
Technical Lead: Todd Bryant</br>
3D Petals: Capitan Alegria</br>
3D Assets: Jeremy Thompson</br>
Heart rate Monitor programming: Ji Lee</br>
Gesture Tracking programming: Kat Sullivan</br>
Original Music by: Antfood</br>
</br>

<h3>Tools used</h3></br>
Kinect Sensor</br>
Python, Cinder, and Max/MSP,Jitter</br>
</br>
</br>

<h3>Exhibitions</h3></br>
April 29–June 2, 2018</br>
Only Human</br>
Presented by NEW INC and Nokia Bell Labs</br>
Mana Contemporary</br>
Jersey City, NJ</br>
</br>
<h3>Selected Press</h3></br>
2017 – <a class="press" href="https://www.wired.com/story/bell-labs-eat-only-human-mana-contemporary/" target="_blank">WHAT ARTISTS CAN TEACH US ABOUT MAKING TECHNOLOGY MORE HUMAN</a>, Wired</br>
</br>
</br>
</div>
<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
		  document.getElementById("myDropdown").classList.toggle("show");
		  console.log("here");
		}

	</script>

</body>
</html>