<!DOCTYPE html>
<html>
<head>
	<title>Kat Sullivan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"> 
	<link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/aether.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
	<div class="row">
		<h2 id="projects" onclick="myFunction()" class="dropbtn column">Projects</h2>
  		<h2 id="mocap" class="column"><a href="mocap.html">Motion Capture</a></h2>
		<h2 id="about" class="column"><a href="home.html">Home</a></h2>
	</div>
	<div id="myDropdown" class="dropdown-content">
    		<a href="aether.html">Aether</a>
    		<a href="torn.html">Torn</a>
    		<a href="ltc.html">Liable to Change</a>
    		<a href="blooming.html">Blooming</a>
    		<a href="terms.html">Terms of My Surrender</a>
  	</div>
		<div class="content">
		<h2>The Terms of My Surrender</h2>

		<h3>Filmmaker Michael Moore makes his Broadway debut tackling issues such as Trump, Flint, and his own history with politics.<br>

<br>
Andrew Lazarow led the video design team. We became the first people to utilize Python for a Broadway production with our news feed wall that generated different news headlines on a nightly basis.<br>
<br>
For my role, I wrote a program that curated headlines based on assigned topics from varying media sources and rendered out a video. I also worked on  and assisted other designs throughout the production.</h3>

	<img src="../images/tweet_flag.jpeg">
	<img src="../images/book_flag.jpeg">
	<img src="../images/action_flag.png">
	<img src="../images/photo_flag.jpeg">
<p>
<h3>Credits</h3></br>
By Michael Moore</br>
Directed by Michael Mayer</br>
Set Design by David Rockwell</br>
Costume Design by Jeff Mahshie</br>
Lighting Design by Kevin Adams</br>
Sound Design by Brian Ronan</br>
Movement Direction by Noah Racey</br>s
Video & Projection Design by Andrew Lazarow</br>
Assistant Video Design by Kat Sullivan</br>
</br>

<h3>Tools used</h3></br>
Python, Cinder, Processing, and AfterEffects</br>
</br>
</br>

<h3>Exhibitions</h3></br>
August 10–October 22, 2017</br>
Belasco Theatre</br>
NY, NY</br>
</br>
<h3>Selected Press</h3></br>
2017 – <a class="press" href="https://variety.com/2017/legit/reviews/michael-moore-broadway-review-the-terms-of-my-surrender-1202522544/" target="_blank">Broadway Review: Michael Moore’s ‘The Terms of My Surrender’</a>, Variety</br>
<a class="press" href="https://www.newyorktheatreguide.com/reviews/michael-moore-the-terms-of-my-surrender" target="_blank">Michael Moore: The Terms of My Surrender</a>, New York Theatre Guide</br>
</br>
</br>
</div>
<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
		  document.getElementById("myDropdown").classList.toggle("show");
		  console.log("here");
		}

	</script>

</body>
</html>