<!DOCTYPE html>
<html>
<head>
	<title>Kat Sullivan</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8"> 
	<link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
	<link rel="stylesheet" type="text/css" href="../stylesheets/aether.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
	<div class="row">
		<h2 id="projects" onclick="myFunction()" class="dropbtn column">Projects</h2>
  		<h2 id="mocap" class="column"><a href="mocap.html">Motion Capture</a></h2>
		<h2 id="about" class="column"><a href="home.html">Home</a></h2>
	</div>
	<div id="myDropdown" class="dropdown-content">
    		<a href="aether.html">Aether</a>
    		<a href="torn.html">Torn</a>
    		<a href="ltc.html">Liable to Change</a>
    		<a href="blooming.html">Blooming</a>
    		<a href="terms.html">Terms of My Surrender</a>
    		<a href="waiting.html">The Waiting Game</a>
  	</div>
		<div class="content">
		<h2>The Waiting Game</h2>

		<h3>Sam’s in a coma. Paolo’s doing his best. When Geoff reveals a secret, reality and fantasy blur. This NYC premiere from critically acclaimed Snowy Owl follows a sold-out, award-winning run in the Edinburgh Fringe (Best Overseas Play, Derek Awards) and explores relationships in the digital age.<br>

<br>
For my role, I iterated and reimagined the previous video designs. I worked with the director and entire design team to bring these conversations from beyond into our character's reality.</h3>

	<img src="../images/Waiting008.JPG">
	<img src="../images/Waiting013.JPG">
	<img src="../images/Waiting027.JPG">
	<img src="../images/Waiting029.JPG">
	<img src="../images/Waiting031.JPG">
<p>
<h3>Credits</h3></br>
By Charles Gershman</br>
Directed by Nathan Wright</br>
Cast: Joshua Bouchard, Julian Joseph, Ibsen Santos, and Marc Sinoway</br>
Set Design by Riw Rakkulchon</br>
Lighting Design by Drew Florida</br>
Sound Design by Emma Wilk</br>
Video Design by Kat Sullivan</br>
Production Stage Manager: Bonnie McHeffey</br>
</br>

<h3>Tools used</h3></br>
Cinder, Processing, and QLab</br>
</br>
</br>

<h3>Exhibitions</h3></br>
February 10–February 23, 2019</br>
Belasco Theatre</br>
NY, NY</br>
</br>
<h3>Selected Press</h3></br>
2017 – <a class="press" href="https://variety.com/2017/legit/reviews/michael-moore-broadway-review-the-terms-of-my-surrender-1202522544/" target="_blank">Broadway Review: Michael Moore’s ‘The Terms of My Surrender’</a>, Variety</br>
<a class="press" href="https://www.newyorktheatreguide.com/reviews/michael-moore-the-terms-of-my-surrender" target="_blank">Michael Moore: The Terms of My Surrender</a>, New York Theatre Guide</br>
</br>
</br>
</div>
<script>
		/* When the user clicks on the button, 
		toggle between hiding and showing the dropdown content */
		function myFunction() {
		  document.getElementById("myDropdown").classList.toggle("show");
		  console.log("here");
		}

	</script>

</body>
</html>